<a class="indexLogin" href="/">Login</a>

<div class="mainPage" >
    <div class="mainPageText" >
        <h1>Your Personal Digital Tutor</h1>
        <a href="/signup">Sign Up</a>
    </div>

    <div class="mainPagePictures" >
        <img class="descipline geography" src="/images/geography.png" alt="geography">
        <img class="descipline history" src="/images/history.png" alt="history">
        <img class="descipline math" src="/images/math.png" alt="math">
        <img class="descipline physics" src="/images/physics.png" alt="physics">
        <img class="descipline social" src="/images/social studies.png" alt="social">
        <img class="descipline biology" src="/images/biology.png" alt="biology">
        <img class="mainPageImg" src="/images/casual-life-3d-reading 2.png" alt="Student">
    </div>
<div>