
<div class="signup">
    <form action='/profile' method='POST'>

        <label for="role">Your role</label>
        <select name="role" id="role">
            <option value="student">Student</option>
            <option value="tutor">Tutor</option>
        </select>

        <label for="username">Name</label>
        <input required type="text" name="username">

        <label for="email">Email</label>
        <input type='email' name='email' required>

        <label for="password">Password</label>
        <input type='password' name='password'>

        <label for="discipline">Discipline</label>
        <select name="discipline" id="discipline">
            <option value="mathematics">Mathematics</option>
            <option value="history">History</option>
            <option value="chemistry">Chemistry</option>
            <option value="physics">Physics</option>
			<option value="biology">Biology</option>
			<option value="geography">Geography</option>
        </select>

        <label for="phone">Phone number</label>
        <input type="tel" name="phone">

        <label for="addInfo">Additional info</label>
        <input type="text" name="'addInfo">

        <button type="submit">Sign up</button>
    </form>
    <img class="mainPageImg" src="/images/casual-life-3d-reading 2.png" alt="Student">
</div>




